<select class="form-select form-select-lg mb-3" [(ngModel)]="selectedCar" name="cars" id="cars">
    <option value="" disabled selected hidden>Select a car</option>
    <option value="lamborghini">Lamborghini</option>
    <option value="ferrari">Ferrari</option>
    <option value="audi">Audi</option>
    <option value="porsche">Porsche</option>
    <option value="cadillac">Cadillac</option>
    <option value="audi1">Audi1</option>
    <option value="porsche1">Porsche1</option>
    <option value="cadillac1">Cadillac1</option>
</select>
<app-child [car]="selectedCar"></app-child>