img {

    width: 1000px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

span {
    /* display: block; */
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.badge {
    font-size: 1.5em;
}